[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
setuptools = "*"
uwsgi = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
blueprint = "*"

[dev-packages]

[requires]
python_version = "3.8"
